body {
  color: #000;
  font-family: Raleway;
  font-weight: 100;
  font-size: 15px;
  touch-action: none;
  font-weight: bold;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.sortable-handler {
  touch-action: none;
}
